<div class = 'container'>
    <div class="jumbotron">
    <h1>Please Click This Link To Import Your Spotify Playlists</h1>
    <p>When the importing is completed you will be given a link to continue to the site</p>
    <div class="import-container">
      <a class="import-link" href="/import">Import Your Playlists</p>
    </div>
  </div>
</div>
