<div class="draggable fullWidth" id="<%= track.id %>">
  <div class="trackButtons" id="<%= track.id %>">
    <h5><%= track.artist_name %></h5>
    <h5 class="trackName"><%= track.name%></h5>
  </div>
</div>
